@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 250 58% 15%;
    --card: 0 0% 100%;
    --card-foreground: 250 58% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 250 58% 15%;
    --primary: 261 40% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 27% 96%;
    --secondary-foreground: 250 58% 15%;
    --muted: 270 27% 90%;
    --muted-foreground: 254 23% 50%;
    --accent: 270 27% 93%;
    --accent-foreground: 261 40% 36%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 27% 88%;
    --input: 270 27% 88%;
    --ring: 261 40% 36%;
    --radius: 0.5rem;
    
    --chart-1: 261 40% 36%;
    --chart-2: 254 23% 50%;
    --chart-3: 272 21% 56%;
    --chart-4: 247 30% 69%;
    --chart-5: 283 23% 68%;

    --sidebar-background: 250 58% 15%;
    --sidebar-foreground: 270 27% 90%;
    --sidebar-primary: 270 27% 90%;
    --sidebar-primary-foreground: 250 58% 15%;
    --sidebar-accent: 261 40% 36%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 261 40% 30%;
    --sidebar-ring: 270 27% 90%;
  }

  .dark {
    --background: 250 58% 10%;
    --foreground: 270 27% 90%;
    --card: 250 58% 15%;
    --card-foreground: 270 27% 90%;
    --popover: 250 58% 15%;
    --popover-foreground: 270 27% 90%;
    --primary: 247 30% 69%;
    --primary-foreground: 250 58% 10%;
    --secondary: 261 40% 36%;
    --secondary-foreground: 270 27% 90%;
    --muted: 261 40% 36%;
    --muted-foreground: 270 27% 70%;
    --accent: 261 40% 36%;
    --accent-foreground: 270 27% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 40% 30%;
    --input: 261 40% 30%;
    --ring: 247 30% 69%;

    --chart-1: 247 30% 69%;
    --chart-2: 283 23% 68%;
    --chart-3: 272 21% 56%;
    --chart-4: 254 23% 50%;
    --chart-5: 261 40% 36%;

    --sidebar-background: 250 58% 10%;
    --sidebar-foreground: 270 27% 90%;
    --sidebar-primary: 247 30% 69%;
    --sidebar-primary-foreground: 250 58% 10%;
    --sidebar-accent: 261 40% 36%;
    --sidebar-accent-foreground: 270 27% 90%;
    --sidebar-border: 261 40% 30%;
    --sidebar-ring: 247 30% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
